<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="dagger.sunhapper.me.daggerinaction">

    <application
        android:name="me.sunhapper.dagger.daggerinaction.app.RealApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="me.sunhapper.dagger.daggerinaction.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="dagger.sunhapper.me.baselib.activity.BaseImplActivity"/>
        <activity android:name="me.sunhapper.dagger.daggerinaction.activity.SimpleActivity"/>
        <activity android:name="me.sunhapper.dagger.daggerinaction.activity.SubComponentActivity1"/>
        <activity android:name="me.sunhapper.dagger.daggerinaction.activity.SubComponentActivity2"/>
        <activity android:name="me.sunhapper.dagger.daggerinaction.activity.SubComponentActivity3"/>
        <activity android:name="me.sunhapper.dagger.daggerinaction.activity.DaggerAndroidActivity"/>
    </application>

</manifest>